---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Launches from "../components/Launches.astro";

console.log('bloque js')
---

<Layout title="Pruebita yay" otra="otra">
	<h2>Página principal</h2>
	<Launches></Launches>
</Layout>

<style>
</style>
