<a>
    <slot name="beforeText"></slot>
    <slot>Texto por defecto si no me llega nada<slot />
    <slot name="afterText"></slot>

</a>
<style>
    a {
        padding: 8px;
        color: yellow;
    }
</style>