---
---

<header>
    <h1>Titulo. Prueba</h1>

    <nav>
        <a href="/">Un enlace</a>
        <a href="/">Otro enlace</a>

    </nav>
</header>

<style>
    header {
        color: teal;
    }
    a {
        padding: 8px;
        color: yellow;
    }
</style>